@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

$primary: #014b94;
$link: #014b94;
$family-sans-serif: 'Open Sans', sans-serif;

@import '../../node_modules/bulma/bulma.sass';
