.uppercase {
  text-transform: uppercase !important;
}

.clickable {
  cursor: pointer;
}

table {
  font-size: 14px;
}

.scale-on-hover {
  transition: 0.5s ease;
}

.scale-on-hover:hover {
  transform: scale(1.05);
}

.card-columns {
  column-gap: 12px;
  column-count: 3;
}

.card-columns div {
  background-color: transparent;
  display: inline-block;
  margin-bottom: 8px;
  width: 100%;
}
